@charset "ISO-8859-1";

/*for responsive design*/
@media(min-width: 666px){
	.displaysize{
		font-size: 22px;
	}
	.slidertext{
		font-size: 15px;
	}
	.slidersize{
	height: 350px;
}
}

@media(min-width: 667px){
	.displaysize{
		font-size: 60px;
	}
	.slidertext{
		font-size: 40px;
	}
	.slidersize{
	height: 500px;
	}
}
